@import "../../assets/css/variable";
.bg-light.login-cont {
    background-color: #f2f3ed !important;
}
.login {
   
    
   
    height: 100vh;
 
   
    .password-eye {
        line-height: 0;
        svg {
            pointer-events: none;
        }
        .icon-showPw {
            display: none;
        }
        &.showPW {
            .icon-hidePw {
                display: none;
            }
            .icon-showPw{
                display: block;
            }
        }
    }
    .login-page {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        width: 100%;
        max-height: 100vh;
        overflow: auto;
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
    .login-form {
        box-shadow: 0 0 0.8rem #5342441a;
        border-radius: 0.5rem;
    }
    .login-logo img {
        width:500px;
        height: 86px;
        // max-width: 50%;
    }
    p {
        text-transform: uppercase;
        color: #2a2a2a;
    }
    .f-16 {
        font-size: 1rem;
    }
    h3 {
        color: #2a2a2a;
    }
    .f-24 {
        font-size: 1.5rem;
    }
    .form-group label {
        color: #2a2a2a;
    }
    .login-form .form-group .form-control {
        border-color: #e4e4e4;
    }
    .form-group .link a {
        text-decoration: underline;
        color: #4d3d32;
    }
    
}

.password-eye {
    position: absolute;
    top: 25px;
    right: 1rem;
    cursor: pointer;
    transform: translateY(-50%);
}
