<table cellspacing="0" cellpadding="0" style="border: 0; margin: 0 auto; width: 580px;">
    <tr>
        <td>
            <table  cellspacing="0" cellpadding="5" style="border: 0; margin: 0 auto 20px auto; width: 100%;">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td>Due Diligence Report</td>
                </tr>
                <tr>
                    <td style="font-family: Arial, Helvetica, sans-serif; font-size: 30px; color: #000; font-weight: 700; padding-bottom: 10px;">ABHA ARGO EXPORTS PRIVATE LIMITED</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td>32, Unit 1206, 12th Floor, Om Tower</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td>Jawahar Lal Neheru Road Kolkata</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td>West Bengal, 700071. India.</td>
                </tr>
            </table>
            <table  cellspacing="0" cellpadding="10" style="border: 0; margin: 0 auto 30px auto; width: 100%;">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="border-top: 1px solid #000; text-align: left;">credence Risk Score</td>
                    <td style="border-top: 1px solid #000; text-align: right;">B, Acceptable Risk</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: left;">Company Status</td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: right;">Active</td>
                </tr>
            </table>

            <table  cellspacing="0" cellpadding="10" style="border: 0; margin: 0 auto 30px auto; width: 100%;">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="border-top: 1px solid #000; text-align: left;">Bank User Name</td>
                    <td style="border-top: 1px solid #000; text-align: right;">Al-Arafah Islami Bank</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: left;">Delivered On</td>
                    <td style="border-top: 1px solid #000; border-bottom: 1px solid #000; text-align: right;">5-April-2022</td>
                </tr>
            </table>

            <table  cellspacing="0" cellpadding="10" style="border: 0; margin: 0 auto; width: 100%;">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="font-weight: 600;">Private & Confidential</td>
                </tr>
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
                        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining 
                        essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </td>
                </tr>
            </table>
            <table  cellspacing="0" cellpadding="10" style="border: 0; margin: 0 auto 30px auto; width: 100%; border-top: 1px solid #000; ">
                <tr style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #000; font-weight: 400;">
                    <td style="text-align: left;">For: Al-Arafah Islami Bank</td>
                    <td style="text-align: center;">05-Apr-22</td>
                    <td style="text-align: center;">1</td>
                </tr>
            </table>

        </td>
    </tr>
</table>