.advSearch{
    cursor: pointer;
    text-decoration: underline;
}
.f25{
    font-size: 25px;
}

.uploadDiv{
    border: none;
    background: #f4f5f7;
    padding: 20px;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 80% !important;
    height: 100% !important;
}
.modelHeader{
    font-size: 20px;
    color: #4d3d32;
}
.searchModal{
    .close{
        font-size: 30px;
    }
}

.bdWarning {
    background-color: #ffa343;
    padding: 2px
}

.bdSuccess {
    background-color: lightgreen;
    padding: 2px
}
