.searchable-select
{
    z-index: 777;
    height: calc(2.75em + 0.75rem + 2px) !important;
}
.css-1s2u09g-control, .css-1pahdxg-control{
    height: calc(2.75em + 0.75rem - 7px) !important;
    min-height: calc(2.75em + 0.75rem - 7px) !important;
}